%html
	%head
		%title Psst homepage
		%link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
		%script(src="/js/scripts.js")
	%body
		%header
			%section.wrapper
				%nav
					%ul
						%li
							%a{ href: "index.html"}
								Home
						%li
							%a{ href: "all-posts.html"}
								All psst
						%li
							%a{ href: "users.html"}
								Users
						%li
							%a{ href: "about.html"}
								About
				%section
					%form.login
						%label{ :for=> "username"}
						%input{ type: "text", name:"username", placeholder: "Username"}
						%label{ :for=> "password"}
						%input{ type: "password", name:"password", placeholder: "Password"}
						%input{ type: "submit", value: "Login"}
		.wrapper
			%aside
				.profile
					.profile-head
						@Steve
					.profile-pic
						%img(src="/images/loading.gif")
			%section
				.content
					%div.post-head
						.user
							@Steve
						.time
							12d 
					%div.post-content
						.post
							Welcome to Psst! You can login with the first part of your email address and student ID as password. Send messages to
		%footer
			%h5 Copyright 2015